#
# Normal rules
#
*.a
*.s
*.bin
*.builtin
*.cmd
*.ko
*.mod.c
*.o
*.order
.config
.config.old
.config.orig
.tmp_*

#
# Top-level generic files
#
/vmlinux
/System.map
/Module.markers
/Module.symvers
/.missing-syscalls.d
/.version
/mediatek-configs

#
# Generated ARM images
#
/arch/arm/boot/Image
/arch/arm/boot/zImage
/arch/arm/boot/compressed/lib1funcs.S
/arch/arm/boot/compressed/piggy.gzip
/arch/arm/boot/compressed/vmlinux
/arch/arm/boot/compressed/vmlinux.lds

#
# Generated include files
#
include/config
include/linux/autoconf.h
include/linux/version.h
include/generated

#
# Others
#
arch/arm/kernel/vmlinux.lds
drivers/char/consolemap_deftbl.c
drivers/char/defkeymap.c
drivers/video/logo/*_mono.c
drivers/video/logo/*_vga16.c
drivers/video/logo/*_clut224.c
drivers/video/logo/*_gray256.c

kernel/config_data.h
kernel/config_data.gz
kernel/timeconst.h
kernel/debug/kdb/gen-kdb_cmds.c
usr/gen_init_cpio
usr/initramfs_data.cpio
usr/.initramfs_data.cpio.d
lib/crc32table.h
lib/gen_crc32table

scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/hash
scripts/bin2c
scripts/conmakehash
scripts/kallsyms
scripts/pnmtologo
scripts/kconfig/conf
scripts/kconfig/zconf.hash.c
scripts/kconfig/*.tab.c
scripts/kconfig/*.tab.h
scripts/kconfig/lex.*.c
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost

